{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau Campus{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('app_campus_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
