 body {
     background-image: url('../img/fond1.jpg');
     background-size: cover;
     opacity: 0.9;
 }


/* Nav barre
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #e693e8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
} */

/* Boutons */

