{% extends 'base.html.twig' %}

{% block title %}Hello SortiesController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1> Afficher une sortie</h1>

        <div>Nom de la sortie: </div>
        <div>Date et heure de la sortie: </div>
        <div>Date limite d'inscription: }</div>
        <div>Nombre de place: </div>
        <div>Durée: </div>
        <div>Description et infos: </div>
        <div>Campus: </div>
        <div>Lieu: </div>
        <div>Rue: </div>
        <div>Code postal: </div>
        <div>Latitude: </div>
        <div>Longitude: </div>
    </div>

    <div>
        Listes des participants inscrits:
    </div>
{% endblock %}